header {
    z-index: 1000;
}

#adminHeader {
    height: 100px;
    background-color: #001529;

    .adminHeader {
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        .left {
            img {
                width: 40px;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            .profilePhoto {
                width: 40px;

                img {
                    width: 100%;
                }
            }
        }
    }
}